body {
    font-size: 3rem;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-rows: 100px 100px 1fr;
}

header {
    border:  5px solid yellow;
    /* grid-column: 1 / 4; */
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.cards {
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

img {
    width: 200px;
}

p {
    font-size: 16px;
}

.modal-box {
    width: 90%;
    height: 90%;
    position: absolute;
    margin: 1em;
    top: 0.5em;
    background: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
}

.one-comment {
    width: 700px;
    height: 50px;
    background-color: white;
    border: 1px solid magenta;
}

.one-comment h4 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.one-comment p {
    margin-top: 10px;
    font-size: 12px;
}

.all-comments {
    margin-top: 5px;
    overflow: scroll;
}

.modal-box h2 {
    margin: 0;
}


.modal-box h1 {
    cursor: pointer;
    font-size: 24px;
}
