* {
     box-sizing: border-box;
     outline: 0;
     }

body {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 70px 60px 50px 1fr 40px;
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    grid-row: 1 / 2;
}

.form-container {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
}

.main-page-inp {
    appearance: none;
    outline: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid gray;
    outline-width: 0;
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: gray;
}

.main-page-inp::placeholder {
  color: gray;
  letter-spacing: 0.1;
}

.camera-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#camera {
    width: 75px;
    height: 75px;
    margin: auto;
    cursor: pointer;
}

#camera:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.7) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.custom-file-upload {
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

#submit-img-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: none;
    color: gray;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    opacity: 0.5;
    font-size: 40px;
    margin: 15px;
    color: white;
}

.cards-container {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
}

.image-cell {
    position: relative;
    display: grid;
    grid-template-rows: 16rem 6rem;
}

.photo {
    grid-row: 1 / 3;
    width: 22rem;
    height: 22rem;
    object-fit: cover;
}

.big-photo {
    height: 99%;
    max-width: 96%;
    object-fit: cover;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.title {
    color: white;
    grid-row: 1 / 2;
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0.3rem;
    letter-spacing: 0.2;
    opacity: 0;
    width: 20rem;
    z-index: 5;
    margin: 0;
    transition: opacity 0.5s linear;
}

.image-cell:hover .title {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.image-cell:hover .photo {
    filter: brightness(20%);
}

.modal-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 10;
}

.prev-container {
    display: flex;
    flex-direction: column;
}

.modal-box-content {
    width: 100%;
    height: 80%;
    background-color: white;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -12%;
    left: 2%;
    opacity: 0.5;
    transition: opacity 0.5s linear;
    line-height: 1;
}



#close-btn {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 5.5rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}

#prev {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 5.5rem;
    font-weight: bold;
    cursor: pointer;
}

#next {
    font-size: 5.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    cursor: pointer;
}

.image-container {
    width: 33%;
}

.image-container:hover .buttons {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.descriptions {
    width: 30%;
}

a {
    text-decoration: none;
}

.modal-title {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.uploaded {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    align-self: end;
}

.modal-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h6 {
    font-size: 12px;
    cursor: pointer;
    margin: 5px;
}

#comment-inp {
    width: 96%;
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 2px;
    appearance: none;
    outline: none;
    border: none;
    outline-width: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    min-height: 3rem;
}

#comment-inp::placeholder {
    color: black;
}

#submit-comment-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: none;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 10px;
    width: 5rem;
}

.submit-comment {
    display: flex;
    flex-direction: column;
}

.comment-section {
    position: relative;
    width: 25%;
}

.one-comment {
    width: 96%;
    background-color: rgb(0, 0, 0, 0.1);
    margin-top: 2px;
}

.one-comment h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 5px;
    padding-top: 10px;
    margin: 0;
}

.one-comment p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding: 0px 5px;
    padding-bottom: 10px;
    margin: 0;
}

.all-comments {
    overflow: scroll;
    margin-top: 3rem;
    height: 55%;
}

.more-btn-container {
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#more-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: none;
    color: gray;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


@media screen and (min-width: 360px) and (max-width: 720px) {

    body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-rows: 70px 60px 50px 1fr 40px;
        background-color: black;
    }

    .cards {
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 7rem);
        grid-template-rows: 1fr 1fr;
        margin-top: 30px;
    }

    .image-cell {
        position: relative;
        display: grid;
        grid-template-rows: 32rem 3rem;
    }

    .photo {
        grid-row: 1 / 3;
        width: 35rem;
        height: 35rem;
        object-fit: cover;
    }
